# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version string"
        required: true
        type: string

jobs:
  release:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby 3.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Publish Gems Rubygems.org
        run: |
          rake build VERSION=${{ github.event.inputs.version }}
          gem push openc3-cosmos-cfdp-${{ github.event.inputs.version }}.gem
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}
      - name: create tag for release
        uses: pkgdeps/git-tag-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_repo: ${{ github.repository }}
          git_commit_sha: ${{ github.sha }}
          version: ${{ github.event.inputs.version }}
          git_tag_prefix: "v"
